# Ignore all files and folders in the root directory
/*

# But do not ignore these folders (whitelist them)
!data/
!models/
!ppo_lstm_tensorboard/
!ppo_multi_lstm_tensorboard/
!ppo_multi_tensorboard/
!ppo_trading_tensorboard/

# Ignore these specific folders everywhere
agents/
env/
utils/

# Do not ignore .gitignore and README.md themselves
!.gitignore
!README.md

# MacOS
.DS_Store
